/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Container for cart items */
.cartcontainer {
    padding: 40px 50px;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #9a9a9a;
}

/* Empty cart message */
.cartcontainer .emptycart {
    margin-top: 30px;
    text-align: center;
}

.cartcontainer .emptycart .empty {
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}

.cartcontainer .emptycart .emptycartbtn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #010f1c;
    border-radius: 5px;
}

/* Cart items */
.cart_item {
    display: flex;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
}

.cart_item .img_box {
    padding: 20px;
    background: #f1f1f1;
    flex: 0 0 250px;
}

.cart_item .img_box img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.cart_item .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex: 2;
}

.cart_item .detail h4,
.cart_item .detail h3,
.cart_item .detail p,
.cart_item .detail .subtotal {
    color: #010f1c;
    margin-bottom: 10px;
}

.cart_item .detail .qty {
    display: flex;
    align-items: center;
}

.cart_item .detail .qty input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #010f1c;
    width: 40px;
    text-align: center;
    margin: 0 10px;
}

.cart_item .extra-content {
    padding: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2; /* Thay đổi thứ tự hiển thị */
}

.cart_item .extra-content .totalprice {
    font-size: 18px;
    font-weight: bold;
    color: #010f1c;
    text-align: right;
    margin-bottom: 10px;
}

.cart_item .extra-content .checkout {
    padding: 8px 16px;
    color: #fff;
    background: #0989ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    align-self: flex-end;
}

.cart_item .extra-content .checkout:hover {
    background-color: #086fda;
}
.cart_item .detail .close {
    padding-left: 16px;
}