:root {
    --white-color: #fff;
    --black--color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__grow {
    display: flex;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 1444px;
    height: 3609px;
    background: #FFFFFF;
    border: 1px solid gray;
    margin: 0px auto 0px auto;
    overflow: hidden;
}

/* Bắt đầu code box "Header"*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 75px;
    gap: 16px;
    position: absolute;
    width: 1438px;
    height: 58.16px;
    left: calc(50% - 1438px/2);
    top: calc(50% - 58.16px/2 - 1748.42px);
}

.search-bar::placeholder {
    font-size: 20px;
    text-indent: 60px;
}

.hinh1 {
    position: absolute;
    Top: 6.08px;
    Left: 60px;
    width: 102px;
    height: 46px;
}

.header .home-button {
    width: 50.14px;
    height: 56.16px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.hop1 {
    position: absolute;

    width: 58px;
    height: 60px;
    left: 210px;
    top: -1px;
    background: #F1F0F0;
    border-radius: 4px;
}

.home-button .home-homefill {
    position: absolute;
    width: 30.08px;
    height: 30.08px;
    left: 230px;
    top: 17px;
}

.search-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12.0333px 438.214px 12.0333px 12.0333px;
    gap: 10.03px;
    width: 964.67px;
    height: 56.16px;
    border: 0.987223px solid #454D4A;
    border-radius: 4.93611px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.search-bar>p {
    width: 191px;
    height: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21.7189px;
    line-height: 0px;
    font-variant: all-small-caps;
    color: #DBDADA;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 100px;
}

.user-icon {

    width: 41.32px;
    height: 48.91px;
    flex: none;
    order: 3;
    flex-grow: 0;

}

.hop2 {
    position: absolute;
    width: 41.32px;
    height: 48.91px;
    left: 1270px;
    top: 4.62px;
    background: #F1F0F0;
    border-radius: 4.21648px;
}

.icon-ti-user {
    position: absolute;
    font-size: 31px;
    left: 1276px;
    top: 13.9px;
}

.cart-icon {
    width: 42px;
    height: 51.13px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.hop3 {

    position: absolute;
    width: 38.79px;
    height: 48.91px;
    left: 1340px;
    top: 5.73px;
    background: #F1F0F0;
    border-radius: 4.21648px;
}

.icon-banhang {
    position: absolute;
    font-size: 30px;
    left: 1347px;
    top: 17px;
}

.cart-icon-no {
    position: absolute;
    width: 15px;
    height: 14.91px;
    left: 1340.07px;
    top: 3.52px;
}

.cart-icon-no>p {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    font-variant: all-small-caps;
    left: 33px;
    top: -8px;
    color: #FFFFFF;
}

.box50 {
    Width: 15px;
    Height: 14.91px;
    position: absolute;
    left: 27px;
    top: 6.04%;
    bottom: 68.31%;

    background: #58A0E2;
    border-radius: 3px;
}

/* End box "Header"



/*Start box "Categories"*/
.Categories {
    position: absolute;
    width: 137.38px;
    height: 40.11px;
    left: 91px;
    top: 118px;


}

.chu-categories {
    position: absolute;
    width: 113px;
    height: 30px;
    left: 20px;
    bottom: -10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20.0556px;
    line-height: 30px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.hinh5 {
    position: absolute;
    width: 137.38px;
    height: 40.11px;
    background: url(../img/box-Categories/hinh5.png);
    border-radius: 5.01389px;
}

/* End box" Categories-Section*/



/* Start box "categories-Section"*/
.Categories-Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.02222px 6.01667px;
    gap: 25.07px;
    position: absolute;
    width: 1285.13px;
    height: 111.31px;
    left: 84.23px;
    top: 150.42px;

}

.gr-categories-section {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 6.02px;
    top: 14.82px;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s; */
}

.shadow_box {
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); */
    transition: transform ease-in 0.08s;
}

.shadow_box:hover {
    transform: translateY(-7px);
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */
}

.shadow_box_vip {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
}

.shadow_box_vip:hover {
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.hinh-categories-section {
    position: absolute;
    width: 75.21px;
    height: 65.62px;
    left: 72.2px;
    top: 14.82px;
    background: url(../img/box-Categories-Section/Laptop.png);
}

.laptops {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.laptops>span {

    position: absolute;
    width: 62px;
    height: 23px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr-categories-section2 {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 173.48px;
    top: 14.82px;

}

.hinh-categories-section2 {
    position: absolute;
    width: 75.85px;
    height: 60.17px;
    left: 82.23px;
    top: 14.82px;
    background: url(../img/box-Categories-Section/Camera.png)
}

.camera {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.camera>span {

    position: absolute;
    width: 62px;
    height: 23px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr-categories-section3 {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 345.6px;
    top: 14.82px;

}

.hinh-categories-section3 {
    position: absolute;
    width: 92.26px;
    height: 83.23px;
    left: 87.52px;
    top: 6.02px;
    background: url(../img/box-Categories-Section/Accessories.png)
}

.Accesories {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.Accesories>span {

    position: absolute;
    width: 62px;
    height: 23px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr-categories-section4 {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 551.42px;
    top: 14.82px;

}

.hinh-categories-section4 {
    position: absolute;
    width: 92.26px;
    height: 83.23px;
    left: 41.11px;

    background: url(../img/box-Categories-Section/TV.png)
}

.TV {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.TV>span {

    position: absolute;
    width: 62px;
    height: 23px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr-categories-section5 {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 707.88px;
    top: 14.82px;

}

.hinh-categories-section5 {
    position: absolute;
    width: 75.21px;
    height: 75.21px;

    top: 6.02px;

    background: url(../img/box-Categories-Section/Headphone.png)
}

.gr-hinh5 {

    position: absolute;
    width: 82.23px;
    height: 67.19px;
    left: 113.11px;
    top: 2px;
    background: #FFFFFF;
}

.Headphone {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.Headphone>span {

    position: absolute;
    width: 62px;
    height: 23px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr-categories-section6 {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 919.17px;
    top: 14.82px;

}

.hinh-categories-section6 {
    position: absolute;
    width: 75.21px;
    height: 54.06px;
    left: 79.22px;
    top: 20.63px;
    background: url(../img/box-Categories-Section/Storage.png)
}

.storage {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.storage>span {

    position: absolute;
    width: 62px;
    height: 23px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr-categories-section7 {
    position: absolute;
    width: 147.41px;
    height: 65.62px;
    left: 1095.92px;
    top: 14.82px;

}

.hinh-categories-section7 {
    position: absolute;
    width: 66.76px;
    height: 71.75px;
    left: 118.41px;
    top: 18px;
    background: url(../img/box-Categories-Section/Theater.png)
}

.home-theater {
    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 0px;
    top: 24.85px;

    background: #F1F0F0;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.home-theater>span {

    position: absolute;
    width: 129.36px;
    height: 43.12px;
    left: 11.03px;
    top: 10.03px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.0417px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #454D4A;
}

/* End box" Categories-Section*/



/* Start box "banner"*/
.banner {
    position: absolute;
    width: 1083px;
    height: 334.08px;
    left: 281px;
    top: 291px;

}

.noise {
    box-sizing: border-box;

    position: absolute;
    width: 1083px;
    height: 319.89px;
    top: 14px;
    background: radial-gradient(124.14% 546.57% at 27.73% 138.24%, rgba(189, 255, 0, 0.41) 14.37%, #79E7FF 81.56%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border: 1.00278px solid #000000;
    border-radius: 5.01389px;
}

.text-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5.01px;
    position: absolute;
    width: 389.08px;
    height: 150.42px;
    left: 122.34px;
    top: 48.32px;

}

.text-frame>p1 {
    width: 267.74px;
    height: 70.19px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45.125px;
    line-height: 68px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #312965;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-frame>p2 {
    width: 389.08px;
    height: 31.09px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20.0556px;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #454D4A;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text-frame>p3 {
    width: 209.58px;
    height: 39.11px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25.0694px;
    line-height: 38px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;

    color: #424242;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.laptop-image {
    position: absolute;
    width: 374.04px;
    height: 319.89px;
    left: 599px;
    bottom: 14.19px;
    background: url(../img/box-Banner/Laptop\ image.png);
}

.shop-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.01389px 6.01667px;
    gap: 10.03px;
    position: absolute;
    width: 78.22px;
    height: 28.08px;
    top: 214.79px;
    left: 122.34px;
    background: #03C68B;
    border-radius: 5.01389px;
}

.shop-button>span {
    width: 66.18px;
    height: 18.05px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11.8866px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: all-small-caps;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.shadow {
    position: absolute;
    width: 292.81px;
    height: 18.05px;
    left: 639px;
    top: 256px;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(9.025px);
}

.background-banner {
    position: absolute;
    width: 1081px;
    height: 318.41px;
    background: url(../img/box-Banner/background.png);
}

.next-button {
    position: absolute;
    width: 30.08px;
    height: 30.08px;
    left: 1037px;
    top: 135px;
    background: url(../img/box-Banner/next\ button.png)
}

/* End box "banner"*/



/* Start box "side-offer-product*/

.side-offer-product {

    position: absolute;
    width: 146px;
    height: 319.73px;
    left: 87px;
    top: 305px;

}

.new-product {
    position: absolute;
    width: 146px;
    height: 153.84px;

    background: #393B3A;
    border-radius: 5.02799px;
}

.frame49 {
    position: absolute;
    width: 31px;
    height: 18.32px;
    left: 120px;
    top: -4px;

    background: #03C68B;
    border-radius: 2.81818px;
}

.frame49>span {
    position: absolute;
    width: 19px;
    height: 13px;
    left: 6.34px;
    top: 2.82px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8.45455px;
    line-height: 13px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #FFFFFF;
}

.product {

    position: absolute;
    width: 135.76px;
    height: 150.84px;
    left: 87px;
    top: 308px;
}

.product>span {
    position: absolute;
    width: 80.45px;
    height: 19.65px;
    bottom: 310px;
    right: 92px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10.056px;
    line-height: 15px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #FFFFFF;
}

.Rectangle31 {
    position: absolute;
    width: 135.76px;
    height: 29.48px;
    bottom: 305px;
    right: 88px;
    background: linear-gradient(90deg, #000000 47.41%, rgba(217, 217, 217, 0) 97.41%);
    border-radius: 5.02799px;
}

.hinh-new-product {

    position: absolute;
    width: 107.6px;
    height: 114.65px;
    bottom: 340px;
    right: 92px;
    background: url(../img/box-Side-offer-product/hinh1.png)
}

.offer-product {
    position: absolute;
    width: 147px;
    height: 150.84px;
    top: 169px;

    background: rgba(45, 118, 132, 0.5);
    border-radius: 5.01389px;
}

.frame47 {
    position: absolute;
    width: 31px;
    height: 19px;
    left: 120px;
    top: -4px;
    background: #FF7B7B;
    border-radius: 4px;
}

.frame47>span {
    position: absolute;
    width: 24px;
    height: 10px;
    left: 3px;
    top: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 5px;
    line-height: 10px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #FFFFFF;
}

.offer-frame {

    position: absolute;
    width: 147px;
    height: 26.68px;
    top: 125px;
    background: linear-gradient(90deg, #084450 47.41%, rgba(0, 0, 0, 0.14) 97.41%);
    border-radius: 5.01389px;
}

.text-box {
    position: absolute;
    width: 135.38px;
    height: 26.68px;

}

.offer-frame>span {
    position: absolute;
    width: 92.26px;
    height: 18.05px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10.03px;
    line-height: 15px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    top: 3px;
    left: 35px;
    color: #FFFFFF;

}

.hinh2-offer-product {
    position: absolute;
    width: 121.31px;
    height: 122.04px;
    bottom: 30px;
    background: url(../img/box-Side-offer-product/hinh2.png)
}

/*End box "side-offer-product"*/



/* Start box"deal-btn" */

.deal-btn {
    position: absolute;
    width: 1275px;
    height: 40.11px;
    left: 84px;
    top: 654px;

}

.frame46 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    left: 1179px;
    position: absolute;
    width: 96px;
    height: 40px;
    background: url(../img/box-Categories/hinh5.png);
    border-radius: 5.01389px;
}

.frame46>p {
    width: 80px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-variant: all-small-caps;
    color: #454D4A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame50 {
    position: absolute;
    width: 158.44px;
    height: 40.11px;


}

.gr-frame50 {
    position: absolute;
    width: 158.44px;
    height: 40.11px;
    left: 0px;
    top: 0px;

}

.gr-frame50>p {
    position: absolute;
    width: 146.17px;
    height: 30px;
    left: 12.27px;

    bottom: -10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;

    font-variant: all-small-caps;

    color: #393B3A;
}

.bx-frame50 {
    position: absolute;
    width: 130px;
    height: 40.11px;
    left: 0px;
    top: 0px;

    background: url(../img/box-Categories/hinh5.png);
    border-radius: 5.01389px;
}

/* End box"deal-btn */



/* Strat box"Today-deal" */
.Today-deal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25.07px;
    position: absolute;
    width: 1276px;
    height: 316.27px;
    left: 88px;
    top: 712.92px;

}

.gr1-today-deal {
    width: 300.89px;
    height: 315.94px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.gr1-today-deal>p1 {

    position: absolute;
    width: 200.59px;
    height: 30px;
    left: 54.16px;
    top: 231.69px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10.0297px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;

}

.gr1-today-deal>p2 {
    position: absolute;
    width: 55.57px;
    height: 21px;
    left: 210.03px;
    top: 269.8px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.0416px;
    line-height: 21px;
    text-decoration-line: line-through;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr1-today-deal>p3 {

    position: absolute;
    width: 55.57px;
    height: 24px;
    left: 154.46px;
    top: 267.79px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.0476px;
    line-height: 24px;
    font-variant: all-small-caps;

    color: #000000;

}

.gr1-today-deal>p4 {

    position: absolute;
    width: 154.46px;
    height: 18.12px;
    left: 81.24px;
    top: 40.12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13.8063px;
    line-height: 21px;
    font-variant: all-small-caps;

    color: #424242;
}

.hinh-gr1-today-deal {

    position: absolute;
    width: 204.61px;
    height: 168.5px;
    left: 48.14px;
    top: 58.17px;
    background: url(../img/box-Today-deal/gr1/81-oz4nTIFL\ 1.png);
}

.gr1-1-today-deal {
    position: absolute;
    width: 300.89px;
    height: 315.94px;
    left: 0px;
    top: 0px;
}

.gr1-1-1-today-deal {
    position: absolute;
    width: 253.75px;
    height: 274.81px;
    left: 24.07px;
    top: 29.09px;

}

.rectangle39 {
    position: absolute;
    width: 253.75px;
    height: 274.81px;



    background: linear-gradient(178.84deg, #FFF4BB 2.55%, rgba(255, 242, 174, 0) 96.05%);
    border-radius: 12.5929px
}

.rectangle9 {
    box-sizing: border-box;

    position: absolute;
    width: 300.89px;
    height: 315.94px;
    left: 0px;
    top: 0px;

    background: #F3F3F3;
    border: 0.501486px solid #000000;
    border-radius: 6.01784px;

}

.gr2-today-deal {

    width: 297.71px;
    height: 315.85px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.gr2-today-deal>p1 {

    position: absolute;
    width: 235.19px;
    height: 29.99px;
    left: 365.85px;
    top: 162.44px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10.0297px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr2-today-deal>p2 {
    position: absolute;
    width: 55.57px;
    height: 20.99px;
    left: 485.93px;
    top: 198.54px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.0416px;
    line-height: 21px;
    text-decoration-line: line-through;
    font-variant: all-small-caps;

    color: #454D4A;

}

.gr2-today-deal>p3 {

    position: absolute;
    width: 55.57px;
    height: 23.99px;
    left: 430.36px;
    top: 196.53px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.0476px;
    line-height: 24px;
    font-variant: all-small-caps;
    color: #000000;

}

.hop-today-deal {
    box-sizing: border-box;
    position: absolute;
    width: 297.71px;
    height: 315.85px;
    left: 325.97px;
    top: 0px;
    background: #F3F3F3;
    border: 0.501486px solid #000000;
    border-radius: 6.01784px;
}

.hinh1-gr2-today-deal {
    position: absolute;
    width: 187.56px;
    height: 132.36px;
    left: 380.74px;
    top: 24.07px;
    background: url(../img/box-Today-deal/gr2/Cameraandnothing-to.png);
}

.gr2-1-today-deal {
    position: absolute;
    width: 70.57px;
    height: 64.17px;
    left: 445.24px;
    top: 227.62px;

    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.hinh2-gr2-today-deal {
    position: absolute;
    width: 23.99px;
    height: 45.63px;
    left: 23.99px;
    top: 12.83px;
    background: url(../img/box-Today-deal/gr2/Nothing.png);
    border-radius: 7.13225px;
}

.gr2-1-1-today-deal {
    box-sizing: border-box;
    position: absolute;
    width: 70.57px;
    height: 64.17px;
    background: #E8E8E8;
    border: 0.501486px solid #000000;
    border-radius: 7.13225px;
}

.gr2-2-today-deal {

    position: absolute;
    width: 70.57px;
    height: 64.17px;
    left: 526.62px;
    top: 227.62px;

    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.hinh3-gr2-today-deal {
    position: absolute;
    width: 52.22px;
    height: 36.94px;
    left: 9.38px;
    top: 11.47px;
    background: url(../img/box-Today-deal/gr2/Cameraandnothing-to-nho.png);
    border-radius: 7.13225px;
}

.gr2-2-1-today-deal {
    box-sizing: border-box;

    position: absolute;
    width: 70.57px;
    height: 64.17px;


    background: #E8E8E8;
    border: 0.501486px solid #000000;
    border-radius: 7.13225px;
}

.gr2-3-today-deal {
    position: absolute;
    width: 70.57px;
    height: 64.17px;
    left: 362.88px;
    top: 227.62px;

    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.gr2-3-1-today-deal {

    box-sizing: border-box;

    position: absolute;
    width: 70.57px;
    height: 64.17px;


    background: #E8E8E8;
    border: 0.501486px solid #000000;
    border-radius: 7.13225px
}

.hinh4-gr2-today-deal {
    position: absolute;
    width: 43.75px;
    height: 45.63px;
    top: 4.28px;
    left: 11.11px;
    background: url(../img/box-Today-deal/gr2/Camera.png);
    border-radius: 7.13225px;
}

.gr3-today-deal {

    width: 300.89px;
    height: 315.94px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.gr3-today-deal>p1 {

    position: absolute;
    width: 237.7px;
    height: 29.81px;
    left: 683.86px;
    top: 155.98px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10.0297px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr3-today-deal>p2 {
    position: absolute;
    width: 56.17px;
    height: 20.86px;
    left: 805.22px;
    top: 191.75px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.0416px;
    line-height: 21px;
    text-decoration-line: line-through;
    font-variant: all-small-caps;

    color: #454D4A;

}

.gr3-today-deal>p3 {

    position: absolute;
    width: 56.17px;
    height: 23.84px;
    left: 749.05px;
    top: 189.76px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.0476px;
    line-height: 24px;
    font-variant: all-small-caps;
    color: #000000;
}

.hop2-today-deal {
    box-sizing: border-box;

    position: absolute;
    width: 300.89px;
    height: 312.96px;
    left: 648.75px;
    top: 2.98px;

    background: #F3F3F3;
    border: 0.501486px solid #000000;
    border-radius: 6.01784px;
}

.hinh1-gr3-today-deal {

    position: absolute;
    width: 184.55px;
    height: 182.81px;
    left: 703.91px;
    top: 0px;
    background: url(../img/box-Today-deal/gr3/TV-to.png);
}

.gr3-1-today-deal {

    position: absolute;
    width: 70.21px;
    height: 64.58px;
    left: 764.09px;
    top: 220.56px;

    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.hinh2-gr3-today-deal {
    position: absolute;
    width: 58.17px;
    height: 57.62px;
    left: 6.02px;
    top: 2.98px;
    background: url(../img/box-Today-deal/gr3/TV-nho.png);
}

.gr3-1-1-today-deal {

    position: absolute;
    width: 70.21px;
    height: 64.58px;


    background: #E8E8E8;
    border: 0.501486px solid #000000;
    border-radius: 7.13225px;
}

.gr3-2-today-deal {

    position: absolute;
    width: 70.21px;
    height: 64.58px;
    left: 846.34px;
    top: 220.56px;

    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.hinh3-gr3-today-deal {

    position: absolute;
    width: 53.64px;
    height: 54.24px;
    top: 9.03px;
    left: 11.97px;
    background: url(../img/box-Today-deal/gr3/Remote.png);
}

.gr3-2-1-today-deal {
    box-sizing: border-box;
    position: absolute;
    width: 70.21px;
    height: 64.58px;
    background: #E8E8E8;
    border: 0.501486px solid #000000;
    border-radius: 7.13225px;
}

.gr3-3-today-deal {
    position: absolute;
    width: 70.21px;
    height: 64.58px;
    left: 680.85px;
    top: 220.56px;
    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.gr3-3-1-today-deal {
    position: absolute;
    width: 70.21px;
    height: 64.58px;
    background: #E8E8E8;
    border: 0.501486px solid #000000;
    border-radius: 7.13225px;
}

.hinh4-gr3-today-deal {
    position: absolute;
    width: 47.17px;
    height: 47.69px;
    left: 11.03px;
    top: 7.95px;
    background: url(../img/box-Today-deal/gr3/TV-xoay.png);
}

.gr4-today-deal {
    width: 300.89px;
    height: 315.94px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.gr4-today-deal>p1 {
    position: absolute;
    width: 183.54px;
    height: 28px;
    left: 1037.9px;
    top: 169.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.44055px;
    line-height: 14px;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr4-today-deal>p2 {
    position: absolute;
    width: 51.79px;
    height: 20px;
    left: 1127.81px;
    top: 197.47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.2168px;
    line-height: 20px;
    text-decoration-line: line-through;
    font-variant: all-small-caps;
    color: #454D4A;
}

.gr4-today-deal>p3 {
    position: absolute;
    width: 51.79px;
    height: 23px;
    left: 1076.02px;
    top: 195.58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.1049px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #000000;
}

.hop3-today-deal {
    box-sizing: border-box;
    position: absolute;
    width: 300.89px;
    height: 315.94px;
    left: 974.72px;
    top: 0px;
    background: #F3F3F3;
    border: 0.501486px solid #000000;
    border-radius: 5.66433px;
}

.hinh1-gr4-today-deal {
    position: absolute;
    width: 150.78px;
    height: 132.39px;
    left: 1052.95px;
    top: 28.08px;
    background: url(../img/box-Today-deal/gr4/Laptop-to.png);
}

.gr4-1-today-deal {

    position: absolute;
    width: 70.21px;
    height: 65.19px;
    left: 1090.06px;
    top: 222.66px;
    filter: drop-shadow(0px 5.7058px 5.7058px rgba(0, 0, 0, 0.25));
}

.hinh2-gr4-today-deal {
    position: absolute;
    width: 48.11px;
    height: 48.02px;
    left: 11.03px;
    top: 6.35px;
    background: url(../img/box-Today-deal/gr4/Laptop-nho.png);
}

.gr4-1-1-today-deal {

    box-sizing: border-box;

    position: absolute;
    width: 70.21px;
    height: 65.19px;
    background: #E8E8E8;
    border: 0.472027px solid #000000;
    border-radius: 6.71328px;
}

.gr4-2-today-deal {

    position: absolute;
    width: 70.21px;
    height: 65.19px;
    left: 1008.82px;
    top: 222.66px;

    filter: drop-shadow(0px 5.37062px 5.37062px rgba(0, 0, 0, 0.25));
}

.hinh3-gr4-today-deal {

    position: absolute;
    width: 53.64px;
    height: 54.24px;
    top: 4.01px;
    left: 8.02px;
    background: url(../img/box-Today-deal/gr4/Laptop-thang.png);
}

.gr4-2-1-today-deal {
    box-sizing: border-box;

    position: absolute;
    width: 70.21px;
    height: 65.19px;


    background: #E8E8E8;
    border: 0.472027px solid #000000;
    border-radius: 6.71328px;
}

.gr4-3-today-deal {

    position: absolute;
    width: 70.21px;
    height: 65.19px;
    left: 1171.3px;
    top: 222.66px;
    filter: drop-shadow(0px 5.37062px 5.37062px rgba(0, 0, 0, 0.25));
}

.gr4-3-1-today-deal {
    box-sizing: border-box;
    position: absolute;
    width: 70.21px;
    height: 65.19px;
    background: #E8E8E8;
    border: 0.472027px solid #000000;
    border-radius: 6.71328px;
}

.hinh4-gr4-today-deal {
    position: absolute;
    width: 45.13px;
    height: 47.14px;
    left: 12.04px;
    top: 6.02px;
    background: url(../img/box-Today-deal/gr4/Laptop-gap.png);
}

/* End box"Today-deal" */



/* Start box"related=item-btn" */
.related-item-btn {
    position: absolute;
    width: 1274px;
    height: 43.11px;
    left: 83px;
    top: 1062px;

}

/* Eend box"related-item-btn" */



/* Start box"Related-items */
.Related-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 52px;
    gap: 45px;

    position: absolute;
    width: 1442px;
    height: 252px;
    left: 2px;
    top: 1135px;

}

.gr1-Related-items {
    width: 282.63px;
    height: 252px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.gr1-Related-items>p1 {
    position: absolute;
    width: 174.51px;
    height: 28px;
    left: 81.38px;
    top: 224px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.13688px;
    line-height: 14px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr1-Related-items>p2 {
    position: absolute;
    width: 50.63px;
    height: 25px;
    left: 313.38px;
    top: 227px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4464px;
    line-height: 25px;


    font-variant: all-small-caps;

    color: #000000;
}

.gr2-Related-items {
    width: 282.63px;
    height: 252px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.gr2-Related-items>p1 {
    position: absolute;
    width: 182.74px;
    height: 28px;
    left: 409.13px;
    top: 223.76px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.13688px;
    line-height: 14px;
    font-variant: all-small-caps;

    color: #454D4A;

}

.gr2-Related-items>p2 {
    position: absolute;
    width: 50.63px;
    height: 25px;
    left: 642.12px;
    top: 225.26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4464px;
    line-height: 25px;
    font-variant: all-small-caps;
    color: #000000;
}

.gr3-Related-items {
    width: 282.63px;
    height: 252px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.gr3-Related-items>p1 {
    position: absolute;
    width: 182.74px;
    height: 28px;
    left: 746.53px;
    top: 223.76px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.13688px;
    line-height: 14px;
    font-variant: all-small-caps;

    color: #454D4A;

}

.gr3-Related-items>p2 {
    position: absolute;
    width: 50.63px;
    height: 25px;
    left: 979.52px;
    top: 225.26px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4464px;
    line-height: 25px;


    font-variant: all-small-caps;

    color: #000000;

}

.gr4-Related-items {
    width: 282.63px;
    height: 252px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.gr4-Related-items>p1 {
    position: absolute;
    width: 182.74px;
    height: 28px;
    left: 1077px;
    top: 223.76px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.13688px;
    line-height: 14px;
    font-variant: all-small-caps;

    color: #454D4A;

}

.gr4-Related-items>p2 {
    position: absolute;
    width: 50.63px;
    height: 25px;
    left: 1309.99px;
    top: 225.26px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4464px;
    line-height: 25px;
    font-variant: all-small-caps;

    color: #000000;


}

.hinh1-related-items {

    position: absolute;
    width: 210px;
    height: 139px;
    left: 113.7px;
    top: 22.81px;

    background: url(../img/box-Related-items/laptop.png);
}

.hinh2-related-items {
    position: absolute;
    width: 151.68px;
    height: 162.22px;
    left: 465.66px;
    top: 17.6px;
    background: url(../img/box-Related-items/headphone\ image.png);
}

.hinh3-related-items {

    position: absolute;
    width: 171.77px;
    height: 172.32px;
    left: 783.43px;
    top: 9.12px;

    background: url(../img/box-Related-items/pendrive.png);
}

.hinh4-related-items {

    position: absolute;
    width: 197.25px;
    height: 162.51px;
    left: 1113.31px;
    top: 9.37px;
    background: url(../img/box-Related-items/image.png);
}

.background-related-items {
    width: 274.11px;
    height: 184.57px;
    background: #FFFFFF;
    border-radius: 4px;
}

/* End box"Related-items */



/* Start box"tv-btn */
.tv-btn {
    position: absolute;
    width: 1273px;
    height: 42.11px;
    left: 76px;
    top: 1414px;

}

/* End box"tv-btn" */



/* Start box"Televisons */
.Televisons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 52px;
    gap: 45px;
    position: absolute;
    width: 1442px;
    height: 247.09px;
    left: 2px;
    top: 1454px;

}

/* End box"Televisons" */



/* Start box"brand-btn */
.brand-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 250.69px;
    height: 40.11px;
    left: 73px;
    top: 1740px;

}

/* End box"brand-btn */



/* Start box"shop-by-brand */
.shop-by-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    gap: 48px;
    position: absolute;
    width: 1450px;
    height: 316.82px;
    left: -6px;
    top: 1807px;

}

.group1-shopbybrand {
    position: absolute;
    width: 279.65px;
    height: 293.63px;
    left: 93.7px;
    top: 23.19px;

}

.background1-gr1-shopbybrand {
    position: absolute;
    width: 279.65px;
    height: 293.63px;
    bottom: 0px;
    left: 20px;

}

.hopbackground {
    box-sizing: border-box;
    position: absolute;
    width: 279.65px;
    height: 293.63px;
    background: #F3F3F3;
    border: 0.46608px solid #000000;
    border-radius: 5.26441px;

}

.group1-shopbybrand>p {
    position: absolute;
    width: 46px;
    height: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0%;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #393B3A;
    top: -42px;
    left: 125px;
}

.group1-1shopbybrand {
    position: absolute;
    width: 111.55px;
    height: 111.55px;
    left: 113.7px;
    top: 52px;
    filter: drop-shadow(0px 8.57681px 8.57681px rgba(0, 0, 0, 0.25));
}

.hinhgr1-shopbybrand {
    position: absolute;
    width: 77.15px;
    height: 45.55px;
    right: 90px;
}

.gr1-1-1-shopbybrand {

    position: absolute;
    width: 111.55px;
    height: 111.55px;
}

.hopgr1-shopbybrand {
    box-sizing: border-box;

    position: absolute;
    width: 111.55px;
    height: 111.55px;
    right: 70px;
    bottom: 30px;
    background: #FFFFFF;
    border: 0.464789px solid #000000;
    border-radius: 10.721px;
}


.group1-2shopbybrand {
    position: absolute;
    width: 111.55px;
    height: 111.55px;
    left: 113.7px;
    top: 52px;
    filter: drop-shadow(0px 8.57681px 8.57681px rgba(0, 0, 0, 0.25));
}

.hinh2gr1-shopbybrand {
    position: absolute;
    position: absolute;
    width: 83.66px;
    height: 10.49px;
    top: 20px;

    left: 70px;
}

.gr1-2-1-shopbybrand {

    position: absolute;
    width: 111.55px;
    height: 111.55px;
}

.hopgr2-shopbybrand {
    box-sizing: border-box;

    position: absolute;
    width: 111.55px;
    height: 111.55px;
    left: 55px;
    bottom: 30px;
    background: #FFFFFF;
    border: 0.464789px solid #000000;
    border-radius: 10.721px;
}


.group1-3shopbybrand {
    position: absolute;
    width: 111.55px;
    height: 111.55px;
    left: 43px;
    top: 170px;
    filter: drop-shadow(0px 8.57681px 8.57681px rgba(0, 0, 0, 0.25));
}

.hinh3gr1-shopbybrand {
    position: absolute;
    top: 30px;
    width: 97.61px;
    height: 35.33px;
    left: 6.51px;

}

.gr1-3-1-shopbybrand {

    position: absolute;
    width: 111.55px;
    height: 111.55px;
}

.hopgr3-shopbybrand {
    box-sizing: border-box;

    position: absolute;
    width: 111.55px;
    height: 111.55px;

    background: #FFFFFF;
    border: 0.464789px solid #000000;
    border-radius: 10.721px;
}


.group1-4shopbybrand {
    position: absolute;
    width: 111.55px;
    height: 111.55px;
    top: 170px;
    left: 170px;
    filter: drop-shadow(0px 8.57681px 8.57681px rgba(0, 0, 0, 0.25));
}

.hinh4gr1-shopbybrand {
    position: absolute;
    top: 20px;
    width: 76.23px;
    height: 78.08px;
    left: 18px;

}

.gr1-4-1-shopbybrand {

    position: absolute;
    width: 111.55px;
    height: 111.55px;
}

.hopgr4-shopbybrand {
    box-sizing: border-box;

    position: absolute;
    width: 111.55px;
    height: 111.55px;

    background: #FFFFFF;
    border: 0.464789px solid #000000;
    border-radius: 10.721px;
}

.group2-shopbybrand {
    position: absolute;
    width: 279.65px;
    height: 293.63px;
    left: 421.35px;
    top: 21.03px;

}

.group3-shopbybrand {
    position: absolute;
    width: 279.65px;
    height: 293.63px;
    left: 749px;
    top: 21.69px;

}

.group4-shopbybrand {
    position: absolute;
    width: 279.65px;
    height: 293.63px;
    left: 1076.65px;
    top: 22.19px;

}

.group2-shopbybrand>p {
    position: absolute;
    width: 46px;
    height: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0%;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #393B3A;
    top: -42px;
    left: 125px;
}

.group3-shopbybrand>p {
    position: absolute;
    width: 46px;
    height: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0%;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #393B3A;
    top: -42px;
    left: 125px;
}

.group4-shopbybrand>p {
    position: absolute;
    width: 46px;
    height: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0%;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;
    color: #393B3A;
    top: -42px;
    left: 125px;
}

/* End box"shop-by-brand" */

/* Start box"headphone-btn" */
.headphone-btn {
    position: absolute;
    width: 1271px;
    height: 40.11px;
    left: 78px;
    top: 2189px;

}

/* End box"headphone-btn" */



/* Start box"heaphone=earphone" */
.headphone-earphone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 1300px;
    height: 235.79px;
    left: 66px;
    top: 2264.19px;

}

.gr1-headphone-earphone {
    width: 279.04px;
    height: 187.89px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.gr1-headphone-earphone>p1 {
    width: 177.66px;
    height: 28px;

    position: absolute;
    left: 0.05px;
    top: 207.84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.68208px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr1-headphone-earphone>p2 {
    width: 51.54px;
    height: 25px;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.7426px;
    line-height: 25px;
    font-variant: all-small-caps;
    top: 209.34px;
    left: 228.82px;
    color: #000000;
}

.hinh1-headphone-earphone {
    position: absolute;
    width: 132.32px;
    height: 152.91px;
    left: 66.97px;
    top: 17.67px;
}


.gr2-headphone-earphone {
    width: 279.04px;
    height: 187.89px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.gr2-headphone-earphone>p1 {
    width: 177.66px;
    height: 28px;

    position: absolute;
    left: 331.51px;
    top: 207.84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.68208px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr2-headphone-earphone>p2 {
    position: absolute;
    width: 51.54px;
    height: 25px;
    top: 209.34px;
    left: 568.7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.7426px;
    line-height: 25px;
    font-variant: all-small-caps;

    color: #000000;
}

.hinh2-headphone-earphone {

    position: absolute;
    width: 154.42px;
    height: 165.15px;
    left: 393.45px;
    top: 17.67px;
}

.gr3-headphone-earphone {
    width: 279.04px;
    height: 187.89px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.gr3-headphone-earphone>p1 {
    width: 186.03px;
    height: 28px;
    position: absolute;
    left: 671.39px;
    top: 207.84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.68208px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr3-headphone-earphone>p2 {
    position: absolute;
    width: 51.54px;
    height: 25px;
    top: 209.34px;
    left: 908.58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.7426px;
    line-height: 25px;
    font-variant: all-small-caps;

    color: #000000;
}

.hinh3-headphone-earphone {

    position: absolute;
    width: 160.9px;
    height: 161.41px;
    left: 732.02px;
    top: 17.67px;
}

.gr4-headphone-earphone {
    width: 279.04px;
    height: 187.89px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.gr4-headphone-earphone>p1 {
    width: 186.03px;
    height: 28px;
    position: absolute;
    left: 1011.28px;
    top: 207.84px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 9.68208px;
    line-height: 15px;
    font-variant: all-small-caps;

    color: #454D4A;
}

.gr4-headphone-earphone>p2 {
    position: absolute;
    width: 51.54px;
    height: 25px;
    top: 209.34px;
    left: 1248.46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.7426px;
    line-height: 25px;
    font-variant: all-small-caps;

    color: #000000;
}

.hinh4-headphone-earphone {

    position: absolute;
    width: 129.08px;
    height: 165.89px;
    left: 1087.34px;
    top: 13.95px;
}

/* End box"headphone-earphone" */



/* Start box"Acessories-btn" */
.Acessories-btn {
    position: absolute;
    width: 1275px;
    height: 40.11px;
    left: 78px;
    top: 2558px;

}

/* End box"Acessories-btn */



/* Start box"Acess" */
.Acess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 1312px;
    height: 232.25px;
    left: 54px;
    top: 2612px;
}

/* End box"Acess" */



/* Start box Frame48 */
.Frame48 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 82px;
    gap: 10px;
    position: absolute;
    width: 1450px;
    height: 385.01px;
    left: -6px;
    top: 2858px;


}

.bottom-banner {

    width: 1305.44px;
    height: 385.01px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom-banner1 {
    position: absolute;
    width: 646px;
    height: 304.01px;
    left: 72.28px;
    top: 81.01px;

}

.gr1-bottom-banner1 {
    position: absolute;
    width: 383px;
    height: 153.49px;
    left: 48px;
    top: 59.65px;
}

.gr1-bottom-banner1>p1 {
    position: absolute;
    width: 132px;
    height: 31px;
    top: 59.65px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.9449px;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;

    color: #D9D9D9;
}

.gr1-bottom-banner1>p2 {
    position: absolute;
    width: 309.54px;
    height: 24.73px;
    left: 0px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9559px;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;

    color: #D9D9D9;
}

.gr1-bottom-banner1>p3 {
    position: absolute;
    width: 383px;
    height: 56px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;

    color: #F5F5F5;
}

.gr1-bottom-banner1>p4 {
    position: absolute;
    width: 52.65px;
    height: 14.36px;

    top: 140px;
    left: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 9.45684px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: center;
    font-variant: all-small-caps;

    color: #FFFFFF;
}

.hinh1-frame48 {
    position: absolute;
    width: 406px;
    height: 304px;
    left: 237px;
}

.gr2-bottom-banner {
    position: absolute;
    width: 646px;
    height: 304px;

}

.bx-bottom-banner1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3.98898px 4.78678px;
    gap: 7.98px;

    position: absolute;
    width: 65.19px;
    height: 25.92px;
    left: 48px;
    top: 193px;

    background: #03C68B;
    border-radius: 4px;
}

.eclipse1 {

    position: absolute;
    width: 174.66px;
    height: 17.15px;
    left: 445.82px;
    top: 314.98px;

    background: rgba(0, 0, 0, 0.4);
    filter: blur(7.18017px);
    border-radius: 4px;
}

.bottom-banner2 {
    position: absolute;
    width: 642.44px;
    height: 384.13px;
    left: 800px;
    top: 3px;
}

.bottom-banner2>p {

    position: absolute;
    width: 261px;
    height: 115px;
    right: 371.72px;
    bottom: 79px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    font-variant: all-small-caps;

    color: #FFFFFF;

}

.bottom-banner2>p2 {

    position: absolute;
    width: 261px;
    height: 115px;
    right: 371.72px;
    bottom: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    font-variant: all-small-caps;

    color: #FFFFFF;

}

.bottom-banner2>p1 {
    position: absolute;
    width: 281px;
    height: 61px;
    right: 358.72px;
    bottom: 204px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    font-variant: all-small-caps;

    color: #FEFFFF;
}

.hop-bottom-banner2 {
    position: absolute;
    width: 642.44px;
    height: 305.92px;
    right: 72.28px;
    bottom: 1.08px;

    background: #58A0E2;
    border-radius: 4px;
}

.hinh2-frame48 {

    position: absolute;
    width: 310.2px;
    height: 383.31px;
    right: 72.51px;
    bottom: 1.7px;
    border-radius: 4px;
    transform: rotate(0.15deg);
}

.hop-bottom-banner1 {

    position: absolute;
    width: 646px;
    height: 304px;


    background: radial-gradient(124.14% 546.57% at 27.73% 138.24%, #08090B 14.37%, #0B0C0E 81.56%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border: 0.797796px solid #27282A;
    border-radius: 4px
}

/* End box"Frame48 */



/* Start box"Footer" */
.Footer {
    position: absolute;
    width: 1308px;
    height: 351px;
    left: 64px;
    top: 3258px;

}

.Footer>p1 {
    position: absolute;
    width: 101.28px;
    height: 45px;
    left: 661px;
    top: 243px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30.0833px;
    line-height: 45px;
    display: flex;
    align-items: center;
    font-variant: all-small-caps;

}

.Footer>p2 {
    position: absolute;
    width: 107px;
    height: 52px;
    left: 146px;
    top: 254px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #000000;

}

.Footer>p3 {
    position: absolute;
    width: 224px;
    height: 80px;
    left: 1023px;
    top: 254px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #000000;

}

.gr-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 102px;

    position: absolute;
    width: 648.99px;
    height: 136.78px;
    left: 337px;
    top: 49px;

}

.gr1-footer {
    Width: 128px;
    Height: 136.78px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.gr1-footer>p {
    width: 128px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #393B3A;
}

.gr1-footer>p1 {
    width: 61px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #393B3A;

}

.hop-footer {
    position: absolute;
    width: 1308px;
    height: 351px;
    background: #F1F0F0;
}

.line {
    position: absolute;
    width: 1260px;
    height: 0px;
    top: 224px;
    left: 24px;
    border: 0.5px solid #424242;
    transform: rotate(0.14deg);
}

/* End box "Footer" */